<a class="list-group-item clearfix" routerLinkActive="active" style="height:150px; cursor: pointer;" [routerLink]="index" (click)="clickedon($event)">
    <div class="pull-left">
        <h4 class="list-group-item-heading" >{{ recipes1.name }}</h4>
        <p class="list-group-item-text">{{recipes1.description}}</p>
        <span class="pull-right" style="float:right">
            <img src="{{ recipes1.imagePath }}" alt="" style="max-height:70px;position: relative;bottom: 40px;" class="img-responsive">
        </span>
    </div>
</a>
